* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: 10px;
}

a.nav-link.active {
  font-size: medium;
  font-weight: 500;
  text-shadow: 1px 1px skyblue;
}

html[data-bs-theme="dark"] form {
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.45) !important
}

html[data-bs-theme="dark"] input {
  background-color: da(0, 120, 255, 0.8);
}

html[data-bs-theme="light"] form {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25) !important
}

html[data-bs-theme="light"] input {
  background-color: lightgray;
}